header {
  height: 60vh;
  color: white;
  .main-header {
    background-image: url(./../images/bg-pattern-intro.svg);
    background-position: 0%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: rgb(255, 68, 87);
    background-color: linear-gradient(
      329deg,
      rgba(255, 68, 87, 1) 0%,
      rgba(255, 142, 112, 1) 69%
    );
    border-bottom-left-radius: 130px;

    nav {
      display: flex;
      justify-content: space-around;
      padding: 60px;
      .logo-list {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 40px;
        }
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          list-style: none;
          margin: 0;
          align-items: center;
          li {
            padding-left: 30px;
            font-size: 16px;
            color: #ffcbbd;
            font-weight: bold;
          }
        }
      }
      .nav-button {
        button:first-child {
          color: #ffcbbd;
          border: none;
          background: none;
          font-size: 16px;
          font-weight: bold;
          width: 140px;
          height: 50px;
        }
        button:last-child {
          background-color: white;
          border: none;
          font-size: 16px;
          border-radius: 30px;
          padding: 10px;
          width: 140px;
          height: 50px;
          font-weight: bold;
          color: #ed6c71;
        }
      }
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 56px;
    }
    span {
    }
    .header-buttons {
      margin-top: 30px;
      button:first-child {
        background-color: white;
        border: none;
        font-size: 16px;
        border-radius: 30px;
        padding: 10px;
        width: 140px;
        height: 50px;
        font-weight: bold;
        color: #ed6c71;
        margin: 10px;
      }
      button:last-child {
        background: none;
        border: 1px solid white;
        font-size: 16px;
        border-radius: 30px;
        padding: 10px;
        width: 140px;
        height: 50px;
        font-weight: bold;
        color: white;
      }
    }
  }
}
